.container_map {
    object-fit: cover;
    position: relative;
    display: flexbox;
    flex-direction: column;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 80vh;
}

.map {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    max-width: 100vw; /* Puedes ajustar este valor según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
    overflow: hidden; /* Evita que el contenido se desborde fuera del contenedor */
}

.mapboxgl-map {
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgb(0 0 0 / 8%);
}

.mapboxgl-canvas {
    position: relaltive;
    left: 0;
    top: 0;
} 
.custom-marker {
    position: absolute;
    left: 50%; /* Ajusta la posición horizontal del marcador */
    top: 50%; /* Ajusta la posición vertical del marcador */
    transform: translate(-50%, -50%);
    width: 2%;
    height: 2%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
  }

/* .mapboxgl-map:-webkit-full-screen {
    width: 100%;
    height: 100%;
} */



.popup {
    background-color: #130f0f; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 16px; /* Relleno interno */
    max-width: 300px; /* Ancho máximo */
  }
  
.popup .mapboxgl-popup-close-button {
    top: 8px;
    right: 8px;
    color: #333; /* Color del botón de cierre */
    font-size: 18px;
  }

.mapboxgl-canary {
    background-color: salmon;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;
}

.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-track-pointer {
    cursor: pointer;
}

.mapboxgl-canvas-container.mapboxgl-interactive:active,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass:active {
    cursor: grabbing;
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate .mapboxgl-canvas {
    touch-action: pan-x pan-y;
}

.mapboxgl-canvas-container.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: pinch-zoom;
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: none;
}

.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right { position: absolute; pointer-events: none; z-index: 2; }
.mapboxgl-ctrl-top-left     { top: 0; left: 0; }
.mapboxgl-ctrl-top-right    { top: 0; right: 0; }
.mapboxgl-ctrl-bottom-left  { bottom: 0; left: 0; }
.mapboxgl-ctrl-bottom-right { right: 0; bottom: 0; }

.mapboxgl-ctrl {
    clear: both;
    pointer-events: auto;
    transform: translate(0, 0);
}
.mapboxgl-ctrl-top-left .mapboxgl-ctrl     { margin: 10px 0 0 10px; float: left; }
.mapboxgl-ctrl-top-right .mapboxgl-ctrl    { margin: 10px 10px 0 0; float: right; }
.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl  { margin: 0 0 10px 10px; float: left; }
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl { margin: 0 10px 10px 0; float: right; }

.mapboxgl-marker {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    opacity: 1;
    transition: opacity 0.2s;
}
